.componentPropertyBinding {
    border-width: 1px;
    border-radius: 2px;
    margin: 2px;
    padding: 1px;
    border-color: rgb(0, 0, 0);
}

.componentPropertyBindingHeader {
    flex-direction: row-reverse;
}

.bindingGroupLabel {
    -unity-text-align: middle-left;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
}
